$color-gray-light: #393939;
$color-gray-medium:#232323;
$color-gray-dark: #1b1b1b;
$color-filter: #111111;
$color-black: #000000;
$color-hover: #e05f20;
$color-glow: #67b437;
$color-text-simple: #ffffff;
$color-text-muted: #616161;
$shadow-dark: 0 0 1rem rgba(0, 0, 0, 0.75);
$shadow-glow: 0 0 1rem $color-glow;
$shadow-white: 0 0 1rem #ffffff;
$shadow-big: 0 0 5rem #000;
